<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Store</display-name>
  
  <servlet>
  	<servlet-name>ListItems</servlet-name>
  	<servlet-class>wb.store.servlet.ListItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ListItems</servlet-name>
  	<url-pattern>/shop</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>addItem</servlet-name>
  	<servlet-class>wb.store.servlet.AddItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addItem</servlet-name>
  	<url-pattern>/addItem</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>editItem</servlet-name>
  	<servlet-class>wb.store.servlet.EditItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>editItem</servlet-name>
  	<url-pattern>/editItem</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>deleteItem</servlet-name>
  	<servlet-class>wb.store.servlet.DeleteItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteItem</servlet-name>
  	<url-pattern>/deleteItem</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>displayItems</servlet-name>
  	<servlet-class>wb.store.servlet.DisplayItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>displayItems</servlet-name>
  	<url-pattern>/display</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CartController</servlet-name>
    <servlet-class>wb.store.servlet.CartController</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
      <url-pattern>/servlet/*</url-pattern>
  </servlet-mapping>
  
  <resource-ref>
	<description>MySQL Datasource</description>
	<res-ref-name>jdbc/store</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
  </resource-ref>
</web-app>